<body align='center' bgcolor='#FFF8DC'>

<br>
{% for notice in request.get_notification  %}
  {{ notice.message }}
  <br>
{% endfor %}
<br>

  <h2>................................</h2>
  <h1>My Blog App</h1>
  <h2>................................</h2>
 
 <h2>
 <a href="/login/">Log In</a>
 &nbsp;&nbsp;
 <a href="/register/">Register</a>
 &nbsp;&nbsp;
 <a href="/users/">Users</a>
 </h2>

  <br>
  <br>
  {% for title in title_list %}
  <a href="/posts/{{ title.uname }}/{{ title.id }}"> {{ title }} </a>
  <br>
  <br>
  {% endfor %}
